<header>To do list
  <div class="log">{{user}}</div>
</header>
<body>

  <div class="listContainer" cdkDropListGroup>

    <div class="list">
      <p>To do</p>
      <div class="taskList"cdkDropList
      [cdkDropListData]="TodoTaskList"
       (cdkDropListDropped)="drop($event)" >
        <app-task *ngFor="let task of TodoTaskList"[Task]="task" cdkDrag
        (updateEvent)="updateTask($event, TodoTaskList)"
        (deleteEvent)="deleteTask($event, TodoTaskList)"></app-task>
      </div>
      <div (click)="addTask(TodoTaskList)"class="addTaskBtn">Add a task</div>
    </div>

    <div class="list">
        <p>In progress</p>
        <div class="taskList"cdkDropList
        [cdkDropListData]="DoingTaskList"
        (cdkDropListDropped)="drop($event)" >
          <app-task *ngFor="let task of DoingTaskList"[Task]="task" cdkDrag
          (updateEvent)="updateTask($event, DoingTaskList)"
          (deleteEvent)="deleteTask($event, DoingTaskList)"></app-task>
        </div>
       <div (click)="addTask(DoingTaskList)"class="addTaskBtn">Add a task</div>
      </div>
    <div class="list">

      <p>Done</p>
      <div class="taskList" cdkDropList
      [cdkDropListData]="DoneTaskList"
      (cdkDropListDropped)="drop($event)" >
        <app-task *ngFor="let task of DoneTaskList"[Task]="task" cdkDrag 
        (updateEvent)="updateTask($event, DoneTaskList)"
        (deleteEvent)="deleteTask($event, DoneTaskList)"></app-task>
      </div>
      <div (click)="addTask(DoneTaskList)"class="addTaskBtn">Add a task</div>
    </div>
    
    <div class="list"><p>Canceled</p>
      <div class="taskList" cdkDropList
      [cdkDropListData]="CancelledTaskList"
      (cdkDropListDropped)="drop($event)" >
        <app-task *ngFor="let task of CancelledTaskList"[Task]="task" cdkDrag
        (updateEvent)="updateTask($event, CancelledTaskList)"
        (deleteEvent)="deleteTask($event, CancelledTaskList)"></app-task>
      </div>
      <div (click)="addTask(CancelledTaskList)"class="addTaskBtn">Add a task</div>
    </div>
    
</div>
</body>