<header>To do list</header>
<body>
  <p>{{date | date: 'le d MMMM yyyy'}}</p>
  <div class="listContainer">
    <div class="list">
      <p>To do</p>
      <div class="taskList">
        <app-task *ngFor="let task of TodoTaskList"[Task]="task"></app-task>
      </div>
      <div (click)="addTask(TodoTaskList)"class="addTaskBtn">Add a task</div>
    </div>
<!--//zfezezfz-->
    <div class="list">
        <p>In progress</p>
        <div class="taskList">
          <app-task *ngFor="let task of DoingTaskList"[Task]="task"></app-task>
        </div>
       <div (click)="addTask(DoingTaskList)"class="addTaskBtn">Add a task</div>
      </div>
    <div class="list">
      <p>Done</p>
      <div class="taskList">
        <app-task *ngFor="let task of DoneTaskList"[Task]="task"></app-task>
      </div>
      <div (click)="addTask(DoneTaskList)"class="addTaskBtn">Add a task</div>
    </div>
    <div class="list"><p>Canceled</p>
      <div class="taskList">
        <app-task *ngFor="let task of CancelledTaskList"[Task]="task"></app-task>
      </div>
      <div (click)="addTask(CancelledTaskList)"class="addTaskBtn">Add a task</div>
    </div>
    
</div>
</body>